@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World from .NET 8</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <form method="GET" action="https://hfan.azure-api.net/api/Products/1">
      <input type="text" name="query">
      <input type="submit" value="搜索">
    </form>
    <div>Host operating system: @Model.OSVersion</div>
</div>
